.feature-container {
    border: #85CB33 solid 1px;
    margin: 1em;
    padding: 1em;
}

.feature-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #85CB33 solid;
}

.feature-content-container {
    margin-top: 1em;
    background-color: #111;
    border: #85CB33 solid 1px;
    padding: 1em;
}

#new-feature-button {
    padding: .5em;
    margin: 1em;
    border: solid #85CB33 1px;
    border-radius: 2px;
    text-align: center;
}

#new-feature-button:hover {
    cursor: pointer;
    background-color: #111;
}

#new-feature-title {
    text-align: center;
}

// form {
//     border: #85CB33 solid 1px;
//     padding: 1em;
//     border-radius: 5px;
// }

form label{
    margin-bottom: 1em;
}