#landing-container {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 700px;
    background-color: #669BBC;
}



#landing-button {
    width: fit-content;
    margin-right: auto;
    margin-left: auto;
}