#projects-container {
    height: 100%;
    padding: 1em;
}

.projects-project-container {
    margin-bottom: 1em;
    max-width: 700px;
}

.project-nav {
    display: flex;
    justify-content: space-between;
    color: white;
}

.project-nav-list {
    display: flex;
    // margin: .5em .5em 0 1em;
    padding: 0
}


.projects-project-body {
    background-color: black;
    border: #85CB33 solid 1px;
    padding: .5em;
}

.show-button {
    width: fit-content;
    color: black;
    list-style: none;
    background-color: #85CB33;
    padding: .5em;
}

.show-button:hover {
    cursor: pointer;
}

#new-project-button-container {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 1em;
}

