.note-container {
    border: #85CB33 solid 1px;
    margin: 1em;
    padding: 1em;
}

.note-title-container{
    display: flex;
    justify-content: space-between;
    align-items: center;
    border-bottom: 1px #85CB33 solid;
}

.note-content-container {
    margin-top: 1em;
    padding: 1em;
}

#new-note-button {
    padding: .5em;
    margin: 1em;
    border: solid #85CB33 1px;
    border-radius: 2px;
    text-align: center;
}

#new-note-button:hover {
    cursor: pointer;
    background-color: #111;
}