@import '../../../../Variables.scss';

#new-project-container{
    height: 100%;
    color: $white;
    #new-project-heading {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: .5em 1em;
        border-bottom: $grey solid 1px;
        margin-bottom: 1em;
        h2 {
            margin: 0;
            font-family: $primary-font;
            color: $green;
        }

        #back-button {
            padding: .1em .5em;
            background-color: $blue;
            border: solid $darkerBlue 1px;
            border-radius: 5px;
            text-align: center;
        }
        
        #back-button:hover {
            cursor: pointer;
            border: solid $green 1px;
        }
    }
    .new-project-form-container {
        
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        margin-top: 5em;
        
        form {

            max-width: 80%;
            width: 800px;

            label {

                display: flex;
                flex-direction: column;

                input {
                    border-radius: 5px;
                    border: solid $grey 2px;
                }
                textarea {
                    border-radius: 5px;
                    border: solid $grey 2px;
                }
                select {
                    width: fit-content;
                    border-radius: 5px;
                    // border: solid $grey 2px;
                }
            }
        }

    }



}