@import '../../../../Variables.scss';

#project-show-container {
    height: 100%;
    color: $white;
    #project-show-header {
        display: flex;
        flex-direction: column;
        padding: .5em 1em;
        border-bottom: $grey solid 1px;
        margin-bottom: 1em;
        .header-row {
            display: flex;
            justify-content: space-between;
            align-items: center;
            margin-bottom: 1em;
            h2 {
                margin: 0;
                font-family: $primary-font;
                color: $green;
            }

            #edit-project-button {
                @include button($blue)
                //     padding: .1em .5em;
            //     border: solid $blue 1px;
            //     border-radius: 5px;
            //     text-align: center;
            }
            // #edit-project-button:hover {
            //     cursor: pointer;
            //     background-color: $blue;
            //     // border: solid 1px $green;
            //     transition: .25s;
            // }
        }
        .icons {
            float: right;
            margin-bottom: 0;
            #project-show-nav {
                display: flex;
                justify-content: space-between;
                align-items: center;
                margin: 0;
                .project-nav-item {
                    list-style: none;
                    padding: .1em .5em;
                    border: solid #85CB33 1px;
                    margin-right: 1em;
                    border-radius: 5px;
                }
                .project-nav-item:hover {
                    list-style: none;
                    // padding: calc(.5em - 1px);
                    padding: .1em .5em;
                    cursor: pointer;
                    border-radius: 5px;
                    background-color: #111;
                }
                
                .project-nav-item-active {
                    list-style: none;
                    background-color: #85CB33;
                    color: black;
                    padding: .1em .5em;
                    border-radius: 5px;
                    margin-right: 1em;
                }
            }
            .project-header-icon {
                font-size: 30px;
            }
        }
    }
}