@import "../../Variables.scss";

#main-container {
    display: flex;
    height: 100vh;
    background-color: $dark;

    #left-bar-container {
        width: fit-content;
        width: 200px;
        background-color: $darker;
        color: $white;
        // position: fixed;
        height: 100%;
        transition: 0.5s;
        display: flex;
        flex-direction: column;

        #header-container {

            #close-nav-button-container {

                display: flex;
                justify-content: flex-end;

                #close-nav-button {
                    padding: .5em;
                    width: fit-content;
                    margin: .5em;
                }
                #close-nav-button:hover {
                    background-color: $dark;
                    cursor: pointer;
                }
            }
            #logo-nav-container {
                width: 100%;
                display: flex;
                justify-content: center;

                .wilson-logo-w {
                    // border: solid red 1px;
                    font-size: 80px;
                    color: $green;
                    font-family: "Permanent Marker";
                    border: solid $green;
                    border-radius: 100%;
                    width: 120px;
                    text-align: center;
                    background-color: $dark;
                    user-select: none;
                }
            }
        }
        #lists-container {

            height: 100%;
            display: flex;
            flex-direction: column;
            justify-content: space-between;

            #left-nav-list {

                margin-top: 1em;
                padding: 0%;
                transition: 0.5s;
                display: flex;
                flex-direction: column;
                align-items: center;
    
                .left-nav-item {

                    color: $white;
                    padding: .5em;
                    font-size: 20px;
                    text-align: center;
                    margin: .5em 0;
                    font-family: "Permanent Marker";
                    width: calc(100% - 10px);
                }

                .left-nav-item:hover {
                    background-color: $green;
                    color: $darker;
                    cursor: pointer;
                }
            }

            #bottom-nav-list {
                // border: solid blue 1px;
                margin-bottom: 1em;
                display: flex;
                justify-content: center;
                .bottom-nav-item {
                    position: relative;
                    color: $white;
                    padding: .5em;
                    font-size: 14px;
                    text-align: center;
                    margin: .5em 0;
                    font-family: "Permanent Marker";
                    width: 100%;
                    .bottom-nav-sublist {
                        display: none;
                    }
                }
                .bottom-nav-item:hover {

                    color: $green;
                    cursor: pointer;
                    .bottom-nav-sublist {
                        background-color: $darker;
                        z-index: 1;
                        display: block;
                        position: absolute;
                        color: $white;
                        left: 195px;
                        bottom: 0px;
                        width: 200px;
                        padding: .5em;
                        .bottom-nav-subitem:hover {
                            color: $green;
                        }
                    }
                }
            }
        }
    }
    #main-content {
        background-color: $dark;
        color: #EEF0F2;
        height: 100%;
        width: calc(100% - 200px);
        position: fixed;
        margin-left: 200px;
        transition: 0.5s;
        overflow-y: auto;
        padding-bottom: 4em;
        // padding-right: 200px;

        #open-nav-button {
            position: absolute;
            left: 0;
            padding: .5em;
            width: fit-content;
            margin-left: 1em;
            // border-radius: 2px;
            background-color: #85CB33;
            color: #100b00;
        }

        #open-nav-button:hover {
            cursor: pointer;
            background-color: #85CB33;
        }



    }
}











// #main-content-heading {
//     display: flex;
//     justify-content: center;
//     align-items: center;
//     margin: .5em 0;
//     padding: .5em;
//     border-bottom: #003049 solid 1px;
// }

#main-content-heading h2 {
    margin: 0;
}

