* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

nav {
    background-color: black;
    padding: .5px 20px;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
}

.navbar-menu li {
    color: #EEF0F2;
    padding: 15px 5px;
    margin-right: 1em;
}

.navbar-menu li:hover {
    cursor: pointer;
}

#logo {
    // border: solid red 1px;
    font-size: 24px;
    font-family: 'Permanent Marker', cursive;
    color: #85CB33;
}
// Mobile Menu

.navbar-menu{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

.navbar-right {
    display: flex;
}