.projects-project-body {
    background-color: black;
    border: #85CB33 solid 1px;
    padding: .5em;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.project-title h4{
    margin: 0;
}