.card {
    display: block;
    padding: 1em;
    border: solid #fff 1px;
    box-shadow: 0 0 10px black;
    .card-title {
        font-weight: bold;
    }
    .card-body {
        padding: 1em;
        
    }
}