@import '../../Variables.scss';

.page-container {
    height: 100vh;
    background-color: $dark;
    color: whitesmoke;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 5%;
    h1 {
        margin-bottom: 5%;
        font-size: 4em;
    }
    .wilson-logo {
        color: $green;
        font-family: "Permanent Marker";
    }
    
}