@import './Variables.scss';

.wilson-logo-full {
    font-family: "Permanent Marker";
    color: $green;
    font-size: 50px;
}

// #wilson-text {
//     font-family: "Permanent Marker";
//     color: #C1121F;
// }
// #wilson-text:hover {
//     cursor: pointer;
// }

// #login-container {
//     display: flex;
//     align-items: center;
//     justify-content: center;
//     margin-top: 5vh;
// }

// #login-form {
//     width: 80vw;
//     max-width: 800px;
//     // border: solid red;
// }

// #signup-container {
//     border: solid #003049 1px;
//     color: #003049;
//     padding: 1em;
//     border-radius: 10px;
//     width: 80vw;
//     max-width: 800px;
// }

// #nav-bar {
    
//     background-color: black;
//     color: #fff;
//     // color: #FDF0D5;
// }

// .nav {
//     color: whitesmoke;
// }

// .form-container {
//     width: 80vw;
//     max-width: 800px;
//     background-color: #003049;
//     color: #fff;
//     padding: 1em;
//     border-radius: .25rem;
//     margin-left: auto;
//     margin-right: auto;
// }

// // .form-container form label{
// //     color: black;
// // }

// .form-floating {
//     color: black;
// }

// .primary-button-one {
//     // border: solid red;
//     background-color: #669BBC;
//     padding: 1em;
//     border-radius: 3px;
//     text-align: center;


// }