$green: #85CB33;
$white: whitesmoke;
$dark: #3e3e3f;
$darker: #111;
$blue: rgb(0, 117, 179);
$darkerBlue: rgb(0, 83, 128);
$error: rgb(234, 50, 35);
$grey: grey;

$primary-font: "Permanent Marker";

@mixin button($color) {
    padding: .1em .5em;
    border: solid $color 1px;
    border-radius: 5px;
    text-align: center;
    &:hover {
        cursor: pointer;
        background-color: $color;
        transition: .25s;
    }
}